<div class="jumbotron col-md-6 md-login">
    <h2>Редагування користувача</h2>
    <form name="form" role="form" ng-submit="userEdit.editUser()">
        <div class="form-group">
            <input ng-model="userEdit.user.role_id" type="radio" name="role" value="1" ng-change='newRole(userEdit.user.role_id)'/>
            <label for="role">Співвласник &nbsp;&nbsp;&nbsp;</label>
            <input ng-model="userEdit.user.role_id" type="radio" name="role" value="4" ng-change='newRole(userEdit.user.role_id)'/>
            <label for="role">Уповноважений &nbsp;&nbsp;&nbsp;</label>
            <input ng-model="userEdit.user.role_id" type="radio" name="role" value="2" ng-change='newRole(userEdit.user.role_id)'/>
            <label for="role">Реєстратор &nbsp;&nbsp;&nbsp;</label>
            <input ng-model="userEdit.user.role_id" ng-if="currentUser.role === 'admin'" type="radio" name="role" value="3" ng-change='newRole(userEdit.user.role_id)'/> 
            <label ng-if="currentUser.role === 'admin'" for="role">Адміністратор &nbsp;&nbsp;&nbsp;</label>
        </div>
        <div class="form-group">
            <label for="username">Логін<sup>*</sup></label>
            <input type="text" name="username" class="form-control" ng-model="userEdit.user.username" required readonly/>
        </div>
        <div class="form-group" >
            <label for="email">Поштова скринька<sup>*</sup></label>
            <input type="text" name="email" class="form-control" ng-model="userEdit.user.email" required/>
        </div>
        <div class="form-group" >
            <label for="lastName">Прізвище<sup>*</sup></label>
            <input type="text" name="lastName" class="form-control" ng-model="userEdit.user.last_name" required />
        </div>
        <div class="form-group" >
            <label for="firstName">Ім'я<sup>*</sup></label>
            <input type="text" name="firstName" class="form-control" ng-model="userEdit.user.first_name" required />
        </div>
        <div class="form-group" >
            <label for="secondName">По батькові</label>
            <input type="text" name="lastName" class="form-control" ng-model="userEdit.user.middle_name" />
        </div>
        <div class="form-group" >
            <label for="passportSeries">Серія паспорта<sup>*</sup></label>
            <input type="text" name="lastName" class="form-control" ng-model="userEdit.user.passport_series" required />
        </div>
        <div class="form-group" >
            <label for="passportNumber">Номер паспорта<sup>*</sup></label>
            <input type="text" name="lastName" class="form-control" ng-model="userEdit.user.passport_number" required />
        </div>
        <div class="form-group" >
            <label for="address">Адреса<sup>*</sup></label>
            <input type="text" name="lastName" class="form-control" ng-model="userEdit.user.address" required />
        </div>
        <div ng-if="currentUser.role === 'admin'" class="form-group" >
            <label for="community">Громада<sup>*</sup></label>
            <dropdown-list data-items-list="userEdit.itemsList" data-placeholder=" {{userEdit.user.community_name}} &nbsp;&nbsp;&nbsp; {{userEdit.user.prefix}}" data-search-result="userEdit.community"></dropdown-list>
        </div>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Змінити</button>
            <a href="site/users" class="btn btn-link">Відмінити</a>
        </div>
    </form>
</div>
